.box{
    background: #F8F9FA;
    padding: 10px;
    border-radius: 10px;
}

.btn-favorite{
    color: black;
    background-color: #F8F9FA;
    border-color: #F8F9FA;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}