<div class="text-center box" >
    <h4> <ins> {{this.dayWeather.date | date}}</ins></h4>

    <div class="row">
        <p class="col-12">

            <span *ngIf="dayWeather.byCelsius">{{dayWeather.day.temperature}} </span>
            <span *ngIf="!dayWeather.byCelsius">{{dayWeather.day.temperature | celToFar}}</span> /
            <span *ngIf="dayWeather.byCelsius">{{dayWeather.night.temperature}}</span>
            <span *ngIf="!dayWeather.byCelsius">{{dayWeather.night.temperature | celToFar}} </span>
            <span *ngIf="dayWeather.byCelsius">
                <span class="font-weight-bold"> °C </span> |
                <button class="btn p-0 mb-1" (click)="dayWeather.byCelsius = !dayWeather.byCelsius"> °F </button>
            </span>
            <span *ngIf="!dayWeather.byCelsius">

                <span class="font-weight-bold"> °F </span> |
                <button class="btn p-0 mb-1" (click)="dayWeather.byCelsius = !dayWeather.byCelsius"> °C </button>
            </span>
        </p>

        <div class="col-6">
            <h5> Day </h5>
            <img [src]='dayWeather.day.icon.toString() | stringToImg'>
            <p> {{dayWeather.day.iconPhrase}} </p>
        </div>

        <div class="col-6">
            <h5> Night </h5>
            <img [src]='dayWeather.night.icon.toString() | stringToImg'>
            <p> {{dayWeather.night.iconPhrase}} </p>
        </div>

        <a class="col-12" [href]='dayWeather.link'>
            Click for more details
        </a>

    </div>





</div>