<div class="text-center">
    <h3 *ngIf="!fullyName"> <ins> {{location.name}} </ins></h3>
    <h3 *ngIf="fullyName"> <ins> {{location.name}}, {{location.administrativeArea}}, {{this.location.country}} </ins>
    </h3>

    <p *ngIf="!location.currentCondition.byCelsius">
        <img [src]='location.currentCondition.icon.toString() | stringToImg'>
        {{location.currentCondition.fahrenheit}}
        <span class="font-weight-bold"> °F </span> |
        <button class="btn p-0 pb-1"
            (click)="location.currentCondition.byCelsius = !location.currentCondition.byCelsius">
            °C </button> </p>
    <p *ngIf="location.currentCondition.byCelsius">
        <img [src]='location.currentCondition.icon.toString() | stringToImg'>
        {{location.currentCondition.celsius}}
        <span class="font-weight-bold"> °C </span> |
        <button class="btn p-0 pb-1"
            (click)="location.currentCondition.byCelsius = !location.currentCondition.byCelsius">°F</button></p>

    <p> {{location.currentCondition.discription}} </p>

    <p> Last update {{location.currentCondition.lastUpdate | date:' d.LL HH:mm' }} </p>

    <p *ngIf="!location.currentCondition.hasPrecipitation"> No rain forecast </p>
    <p *ngIf="location.currentCondition.hasPrecipitation"> There is a rain forecast </p>
</div>