<div class="row">
    <div class="col-12 col-md-10 m-auto text-center">
        <form >
            <label>Enter the city name you want to looking for and click 'Enter' or 'Search'</label>
            <input type="text" class="form-control text-center"  (input)="onChangeInput()" autocomplete="off" #qInput="ngModel" name="q" required
                pattern="^[a-zA-Z,-.!? ]*$" type="text" [(ngModel)]="q">
            <div class="invalid-input" *ngIf="qInput.errors?.pattern"> Can only be written in English </div>
            <div *ngIf="searchRes?.length === 0" class="invalid-input"> No matching results. </div>
            <div *ngIf="searchRes?.length > 0">
                <button class="btn form-control searchRes text-center"  *ngFor="let r of searchRes; let i = index"
                    (click)="onSelectLoction(i)"><span
                        class="font-weight-bold">{{r.name}}</span>, {{r.administrativeArea}}, {{r.country}}</button>
            </div>

            <button class="btn btn-primary m-2" *ngIf="!searchRes" [disabled]="!qInput.valid" (click)="onSearch()"
                (keyup.enter)="onSearch()"> Search </button>

                <button class="btn btn-secondary m-2" *ngIf="searchRes" (click)="onClear()"> Clear </button>
        </form>
    </div>
</div>